{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
	<meta name="author" content="Ariell Zaki Prabaswara Ariza">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Story 5 </title>
</head>
<body style="background-color: #ADF0D1; font-weight: normal; font-family: Josefin Sans;">
	<div>
		<a href="/">
			<p style="margin-left: 1%; margin-top: 1%;">
				back
			</p>
		</a>
	</div>
	<div style="text-align: center; margin-top: 2%">
		<h1> Jadwal </h1>
	</div>
	<div style=" margin-left: 10%; margin-right: 10%;">
		<form method="POST">
			{% csrf_token %}
			{{ formulir }}
			<div class="centre-items" style="margin-top:2%;">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</form>
	</div>
	<div style=" margin-left: 10%; margin-right: 10%;">
		{% for i in jadwal %}
		<div style="background-color: white; margin-top: 2%; padding: 5px; border-radius: 10px;">
			<p>{{ i.waktu }}</p>
			<p>{{ i.nama }}</p>
			<p>{{ i.tempat }}</p>
			<p>{{ i.kategori }}</p>
			<a href="{% url 'hapus' pk=i.pk %}">
				<button type="button" class="btn btn-danger">Hapus</button>
			</a>
		</div>
		{% endfor %}
	</div>
</body>
</html>