{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
		<meta name="author" content="Ariell Zaki Prabaswara Ariza">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'cs1.css' %}">
		<title> Django Story 4 PPW </title>
	</head>

	<body style="background-color:  #ADF0D1;">

	    <div class="atas">
	        <img class="name" src="{% static 'nama2.png' %}" alt="Name">
	    </div>

	    <div class="row no-gutters">

            <div class="col-md-4 no-gutters">
                <div class="left d-flex justify-content-center align-items-center nambahMargin">
                    <img class="gmbr" src="{% static 'img2.png' %}" alt="Ariell Zaki Prabaswara Ariza">
                </div>
            </div>
    
            <div class="col-md-4 no-gutters">
                <div class="center d-flex justify-content-center align-items-center">
                    <p class="profil">
                        Saya adalah anak pertama dari 2<br>
                        bersaudara. Saya lahir<br>
                        pada 2 April 2001 di Bandar Lampung.<br>
                        Dulu, saat kecil<br>
                        saya bercita-cita menjadi seorang<br>
                        ilmuwan fisika. Namun,<br>
                        takdir berkata lain. Saya juga sangat<br>
                        suka menonton film<br>

                        kartun. Kartun kesukaan saya adalah<br>
                        spongebob karena menurut<br>
                        saya, film itu lucu dan tingkah<br>
                        karakternya aneh sehingga<br>
                        menghibur.<br>
                    </p>
                </div>
            </div>

            <div class="col-md-4 no-gutters">
                <div class="right d-flex justify-content-center align-items-center nambahMargin">
                    <img class="gmbr2" src="{% static 'people.png' %}" alt="Decoration">
                </div>
            </div>
	            
	    </div>

	    <div class="sosmed">
				<a href="https://www.instagram.com/ariellariza/?hl=id"><img class="gmbr3" style="left:0%;" src="{% static 'ig.png' %}" alt="Instagram"></a>
				<a href="mailto:arielzakiprabaswaraariza@gmail.com?subject=Website&cc=arielzakiprabaswaraariza@gmail.com"><img class="gmbr3" style="left:7%;" src="{% static 'gmail.png' %}" alt="Email"></a>
				<a href="https://www.linkedin.com/in/ariellariza/"><img class="gmbr3" style="left:14%;" src="{% static 'linkedin.png' %}" alt="Linkedin"></a>
                <a href="jadwal/"><img class="gmbr3" style="left:21%;" src="{% static 'jadwal.png' %}" alt="jadwal"></a>
				<a href="pagekedua/"><img class="gmbr3" id="panah" style="right:0%;" src="{% static 'panah.png' %}" alt="Next Page"></a>
		</div>

	</body>
</html>