.atas, .sosmed{
	background: #ADF0D1;
}

.left, .center, .right{
    height: 50vh;
    width: 100%;
    padding: 1rem;
}

.left{
    background: #ADF0D1;
}

.center{
    background:  #ADF0D1;
}

.right{
    background:  #ADF0D1;
}

body{
	font-family: "Josefin Sans";
	font-style: italic;
	font-weight: normal;
	height: 100%;
	background-color:  #ADF0D1;
}

.isi{
	font-size: 4rem;
	text-align: left;
}

hr{
	border-width: 0.4rem;
	border-color: black;
}

.gmbr2{
	float: left;
	margin-top: 8rem;
	width: 40%;
	height: auto;
}

.gmbr{
	float: right;
	width: 50%;
	height: auto;
}

.gmbr, .gmbr2{
	max-width: 100%;
    height: auto;
}

.gmbr3{
	max-width: 5%;
	height: auto;
	bottom: 0%;
	float : bottom;
}

.gmbr3:hover{
	transform: scale(1.5);
}

.name{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 40%;
}

.judul{
	font-weight: bold;
	font-size: 2.5rem;
}

.profil{
	font-size: 1.2rem;
	text-align: center;
	margin-top: 8rem; 
}

.sosmed{
	padding-top: 5rem;
}
#panah{
	float: right;
}

.row{
	margin-top: 2rem;
}

li{
	font-size: 2rem;
}


@media screen and (max-width:768px){
	body{
		height: 100vh;
	}
	.gmbr2{
		max-width: 50%;
		height: auto;
		bottom: 0%;
	}
	.nambahMargin {
		margin: 5% 0;
	}
	.profil{
		font-size: 1.2rem;
	}
	.right{
		margin-top: 8rem;
	}

	.row{
		margin-top: 0;
	}
}