{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
		<meta name="author" content="Ariell Zaki Prabaswara Ariza">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'cs1.css' %}">
		<title> Django Story 4 PPW </title>
	</head>

	<body class="page">
		<div class="row" style="margin-top: 10%;">
			<div class="col" style="margin-left: 20%;">
				<p class="judul"> Kemampuan </p>
				<hr style="margin-right: 54%;">
				<p>
					<ul class="isi">
						<li> C++ </li>
						<li> Python </li>
						<li> Java </li>
						<li> HTML </li>
						<li> CSS </li>
					</ul>
				</p>
			</div>
			<div class="col" style="margin-left: 0%;margin-right: 5%;">
				<p class="judul"> Pencapaian & Pengalaman</p>
				<hr>
				<p>
					<ul class="isi">
						<li> Medali Perunggu OSN<br>Informatika 2017</li>
						<li> Software Engineer<br>Intern GDP Labs 2018</li>
					</ul>
				</p>
			</div>
		</div>
		<a href="/"><img class="gmbr3" style="margin-top:8%; left:0%;" src="{% static 'panah2.png' %}" alt="Previous Page"></a>
	</body>
</html>